.etusivu-container {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  color: #333;
}

.etusivu-title {
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
  margin-bottom: 1.5rem;
}

.fancy-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.fancy-divider .line {
  flex: 1;
  height: 1px;
  background-color: #aaa;
}

.fancy-divider .symbol {
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #667;
  font-style: italic;
}

.content-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
  margin: 0 auto 2rem auto;
  max-width: 80%;
  width: 100%;
}

.dunderberg-img {
  width: 80%;
  height: auto;
  max-height: 400px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.intro-text {
  font-size: 1.2rem;
  line-height: 1.7rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: -20px;
}

.short-divider {
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin: 2rem auto 0 auto;
}

.etusivu-quote {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 2.5rem auto;
  max-width: 80%;
  color: #444;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  line-height: 2.2rem;
  padding: 0 1rem;
  position: relative;
  quotes: "“" "”" "‘" "’";
}

.etusivu-quote::before {
  content: open-quote;
  font-size: 2.5rem;
  vertical-align: top;
  line-height: 0;
  margin-right: 0.1rem;
}

.etusivu-quote::after {
  content: close-quote;
  font-size: 2.5rem;
  vertical-align: bottom;
  line-height: 0;
  margin-left: 0.1rem;
}

.wide-image-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.wide-image {
  width: 80%;
  height: auto;
  max-height: 400px;
  object-fit: fill;
  border-radius: 6px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.follow-up-text {
  max-width: 800px;
  margin: 0 auto 2rem auto;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #333;
}

.final-divider {
  width: 100%;
  height: 2px;
  background-color: #bbb;
  margin: 3rem auto 0 auto;
}

@media (max-width: 768px) {
  .content-row {
    flex-direction: column;
    align-items: center;
  }
  .etusivu-title {
    font-size: 2rem;
  }

  .dunderberg-img {
    width: 100%;
  }
  .wide-image {
    width: 100%;
  }

  .intro-text {
    font-size: 1rem;
    line-height: 1.7rem;
    max-width: 100%;
    margin: 0 auto;
    margin-top: -20px;
  }

  .follow-up-text {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    font-size: 1rem;
    line-height: 1.7rem;
    color: #333;
  }
}
